version: '3.8'

services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: eum-livekit
    command: --dev --bind 0.0.0.0
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
